/* start admin style*/

* {padding:0px; margin:0px; }
a, a:visited {color:#000;  text-decoration:none;}
a:hover { color:#099; text-decoration:none;}

body {
    background: #fff;
    font-family:Bizon;
    font-size:0.9 em;
    color:#444;
    background-image: linear-gradient(120deg,#56736E,#C0CBC9);

}

#wrapper{
    margin:auto;
    width:1200px;
    padding:6px;
    background:#fff;
     padding:10px;
	-moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
	-khtml-box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
     border-radius: 3px;
	 background:transparent;
     border-bottom:10px #099 solid;
     border-top:3px #660d0d solid;
    

}







.login-form{
    width: 360px;
    background: #f1f1f1;
    height: 580px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .login-form h1{
    text-align: center;
    margin-bottom: 60px;
  }

.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
  }

  .txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
  }
  .txtb span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
  }

  .txtb span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#56736E,#C0CBC9);
    transition: .5s;
  }

  .focus + span::before{
    top: -5px;
  }
  .focus + span::after{
    width: 100%;
  }
  .logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg,#566A73,#73566A,#a4b4b1);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
  }
  
  .logbtn:hover{
    background-position: right;
  }





  




#bg_admin_menu{
    background:#0096D6;
    height:26px;
    width:100%;
    padding-top:5px;
}



.adminmenu ul {list-style:none; }
.adminmenu ul li {
    color:#fff;
     float:left;
     margin:3px 2px 0px 10px;
     padding:0px;
     }
.adminmenu ul li a{
     color:#fff;
     }





#head_admin {
    text-align:center;
    background:#fff url(../images/logo.png) no-repeat top left;
    height:135px;
    border-bottom:3px #fff solid;
    color:#fff;

    }

#head_admin h1{
    width:auto;
    color:#fff;
    font-family:Cooper Black;
    font-size:3em;
    border:1px solid #fff;
    border-radius:6px;

    }
h2{
    color:#333;
    font-family:Cooper Black;
    font-size:2.4 em;
    }




#bgkonten {
    padding:6px;
    height:auto;
    width:auto;
    border: 3px #333 solid;
    border-bottom: 15px #333 solid;
    background:#fff;
    float:left;
   
}
.bgproduct td{
 border : 1px solid #ccc;
 padding:6px;
}
.btn{
    width:100px;
    height:30px;

    margin-bottom:3px;
    }
.btn:hover{
   background:#333;
   color:#fff;
   font-weight:bold;
   cursor:pointer;
   border-radius:10px;
    }
.texbox{
    height:30px;
    border:1px #2F4F4F solid;
     border-bottom: 3px #2F4F4F solid;
}
.textarea{
     border:1px #2F4F4F solid;
     border-bottom: 5px #2F4F4F solid;
}

.ganti_pass{
    height:auto;
    width:40%;
    border: 3px #333 solid;
    border-bottom: 15px #333 solid;
    background:#fff;
}
.cleared {clear:both;}

#data_pembeli{
   font-size:20px;
    width:800px;

     padding:6px;
}
#alamat_pembeli{
   font-size:20px;
    width:800px;

     padding:6px;
}

#alamat_order{
    font-size:20px;
    width:800px;
     border-top:1px solid #333;
     padding:6px;
     text-align:center;
}




/* end admin style*/

